[submodule "libraries/garydu"]
	path = libraries/garydu
	url = git@github.com:Dubiy/demolib.cpp.git
[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "libraries/blade-cpp"]
	path = libraries/blade-cpp
	url = git@github.com:Blade-Labs/cpp-blade.git
	branch = dev
